@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager


@if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li>
        <a asp-controller="Home">
            <i class="fas fa-home"></i>Trang chủ
        </a>
    </li>
    <li>
        <a asp-controller="Indices">
            <i class="fas fa-chart-bar"></i>Quản lý chỉ số
        </a>
    </li>
    <li>
        <a asp-controller="CompanyDetails">
            <i class="fas fa-briefcase"></i>Quản lý thông tin doanh nghiệp
        </a>
    </li>
    <li class="has-sub">
        <a class="js-arrow" href="#">
            <i class="fas fa-caret-down"></i>Quản lý giá chứng khoán
        </a>
        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
            <li>
                <a asp-controller="Hoses"><i class="fas fa-chart-bar"></i>HOSE</a>
            </li>
            <li>
                <a asp-controller="Hnxes"><i class="fas fa-chart-bar"></i>HNX</a>
            </li>
            <li>
                <a asp-controller="Upcoms"><i class="fas fa-chart-bar"></i>UPCOM</a>
            </li>
        </ul>
    </li>
    <li>
        <a asp-controller="UserManager">
            <i class="fas fa-user"></i>Quản lý người dùng
        </a>
    </li>
}
@if (_signInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
{
<li>
    <a asp-controller="Home">
        <i class="fas fa-home"></i>Trang chủ
    </a>
</li>
<li>
    <a asp-controller="IndexView">
        <i class="fas fa-chart-bar"></i>Thông tin chỉ số
    </a>
</li>
<li>
    <a asp-controller="CompanyDetailsView">
        <i class="fas fa-briefcase"></i>Thông tin doanh nghiệp
    </a>
</li>
<li class="has-sub">
    <a class="js-arrow" href="#">
        <i class="fas fa-caret-down"></i>Giá chứng khoán theo sàn
    </a>
    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
        <li>
            <a asp-controller="HoseView"><i class="fas fa-chart-bar"></i>HOSE</a>
        </li>
        <li>
            <a asp-controller="HnxView"><i class="fas fa-chart-bar"></i>HNX</a>
        </li>
        <li>
            <a asp-controller="UpcomView"><i class="fas fa-chart-bar"></i>UPCOM</a>
        </li>
    </ul>
</li>
}