@model CK_CDO_Final.Entities.Index

@{
    ViewData["Title"] = "Index - Edit";
    Layout = "_Layout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Cập nhật thông tin chỉ số
        </div>
        <div class="card-body card-block">
            <form asp-action="Edit" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="CHISO" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="CHISO" class="form-control" />
                        <span asp-validation-for="CHISO" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="MOCUA" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="MOCUA" class="form-control" />
                        <span asp-validation-for="MOCUA" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="TRAN" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="TRAN" class="form-control" />
                        <span asp-validation-for="TRAN" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="SAN" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="SAN" class="form-control" />
                        <span asp-validation-for="SAN" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="DONGCUA" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="DONGCUA" class="form-control" />
                        <span asp-validation-for="DONGCUA" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="KHOILUONG" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="KHOILUONG" class="form-control" />
                        <span asp-validation-for="KHOILUONG" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group card-footer">
                    <input type="submit" value="Save" class="btn btn-primary col-2" />
                    <input type="reset" value="Reset" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>