/* your styles go here */
div.center {
    display: block;
    text-align: center;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

p{ 
    margin-bottom: 1rem !important;
}

h3 a:hover{
    text-decoration: none !important;
    color: #4fbfa8 !important;
}

.buttons a:hover {
    background-color: #4fbfa8 !important;
    border-color: #4fbfa8 !important;
}

.pager-container{
    font-family: auto;
    margin: 10px auto;
    width: fit-content;
}

.table-data2{
    overflow-x: auto;
}

@media (max-width: 1200px) {
    .table-data2 .row {
        display: contents;
    }
}
.pagination {
    place-content: center;
}
.card-footer {
    text-align: right;
}